  /* 1- INDEX.PHP  */

 /* ECOLOGICA VOTRE ECOLE SUPERIEUR  */

.notre-ecole{
  display: inline-flex;
  gap: 15%;

  .illu1{
    position: relative;
    left: 20%;
    width: 40vw;
    height: 40vh;
    box-shadow: 10px 5px 5px rgba(238, 133, 67, 1);

  }

}


.illu2{
  width: 100%;
  height: 50%;

}

.cust-div-1{
  display: inline-flex;
  gap: 40px;
}


 /* FORMATION BACHELOR MASTER */

 .divs {

    width: 100%;
    height: 60vh;
    display: inline-flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;

    .div1{

      background-color: rgb(245, 245, 245);
      box-shadow: 10px 5px 5px #A5CBC6;
      border-radius: 10px;
      width: 20%;
      height: 40vh;
        
    }

     .div2{

      background-color: rgb(245, 245, 245);
        box-shadow: 10px 5px 5px #99BC9D;
        border-radius: 10px;
        width: 20%;
        height: 40vh;
     }

      .div3{

        background-color: rgb(245, 245, 245);
        box-shadow: 10px 5px 5px #619B8A ;
        border-radius: 10px;
        width: 20%;
        height: 40vh;

      }
  }

  .buttons {
    width: 100%;
    height: 50vh;
    display: inline-flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;

    align-items: center;

    .b1{
      position: relative;
      bottom: 185px;
      left: 10px;
      width: 197px;
      height: 55px;
      background: #A5CBC6;
      border-radius: 5px;
        
    }

     .b2{
      position: relative;
      width: 197px;
      height: 55px;
      bottom: 185px;
      left: 10px;
      background: #03967B;
      border-radius: 5px;
     }

      .b3{
      position: relative;
      width: 197px;
      height: 55px;
      bottom: 185px;
      left: 10px;
      background: #EE8543;
      border-radius: 5px;
      }
  }


  .p {

    width: 100%;
    height: 20vh;
    
  }

   /* DONS */

    .dons{
      background-color: #A5CBC6;
      clip-path: path("M 757.769 42.941 C 480.261 27.0172 282.113 -6.46439 -5 42.9403 V 489.764 C 272.508 453.784 335.693 473.273 602.587 489.764 C 988.569 513.614 1275.89 427.798 1517 453.784 V 6.52807 C 1249.6 -23.3885 1058.72 60.2102 757.769 42.941 Z");
      height: 90vh;

      .soutenir{
        height: 30%;
      }
    }


    /* 2-  NOTRE ECOLE.PHP  */

    .custom{
      width: 50%;
      height: 50%;
  
   }